* {box-sizing:border-box}

body {
    margin: 0;
    /* max-width: 768px;  */
    overflow-x: hidden  !important;
    margin: 0 auto; /* Center the content */

}

/******* FONTS ******/
.playfair_caps {
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;
  }

.playfair_normal {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
  }
  
.quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.lavishly {
    font-family: "Lavishly Yours", serif;
    font-weight: 400;
    font-style: normal;
  }

.dancing {
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.jost {
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  

/******* HOME ******/
.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.home_bear_img {
    width: 103%;
    position: absolute;
    transform: translate(-42%, 3%);
    rotate: 35deg;
    overflow: hidden;
    z-index: 1;
    opacity: 0.8;
}

.home_drawnheart {
    width: 27%;
    position: absolute;
    transform: translate(33%, -182%);
    z-index: -1;
    rotate: 22deg;
    overflow: hidden;
    color: #99a6ab;
    opacity: 0.4;
}

.home_flowers_top {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    opacity: 0.5;
}

.home_flowers_bottom {
    position: absolute;
    z-index: -1;
    overflow-x: hidden;
    width: 100%;
    transform: scaleY(-1) translate(0%, -192%);
    /* bottom: 0; */
    opacity: 0.5;
}

.home_and {
    font-size: 1.8rem;
}

.home_text {
    position: relative;
    align-self: start;
    z-index: 10;
}

.home_line1 {
    font-size: 3rem;
    margin-top: 20%;
    text-align: center;
}

.home_line2 {
    font-size: 8rem;
    transform: translate(0%, -16%);
    margin-bottom: -27%;
}

/* .bear {
    transform: translate(0%, 10%);
} */

.home_wait {
    transform: translate(0%, -70%);
    text-align: right;
}

.home_details {
    text-align: right;
    font-size: 1.2rem;
}

.home_melissatony {
    font-size: 4rem;
    margin-bottom: 10%;
}

.home_crocker {
    font-size: 4rem;
    transform: translate(83%, -82%);
    position: absolute;
}

/******* SLIDESHOW ******/
/* Slideshow container */
.slideshow_container {
    /* height: 100vh; */
    /* max-width: 1000px; */
    position: relative;
    margin: auto;
    overflow: hidden;
  }

  /* Hide the images by default */
.mySlides {
    display: none;
    width: 100%;
    height: 100vh; 
    position: relative;
    margin: 0;
    overflow: hidden; /* Ensures no overflow from the image */
  }



/* Overlay for text */
.overlay {
    position: absolute;
    bottom: 0%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -40%); /* Align exactly in the center */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.199); 
    text-align: center;
    z-index: 2;
  }

  .fade {
    animation-name: fade;
    animation-duration: 5s; /* Adjust the duration as needed */
    animation-timing-function: ease-in-out; /* Smooth transition */
    animation-iteration-count: infinite; /* Loop the animation */
  }
  
  /* Keyframes for fade in and out */
  @keyframes fade {
    0% { opacity: 0; }   /* Completely invisible */
    25% { opacity: 1; }  /* Fully visible */
    75% { opacity: 1; }  /* Remains fully visible */
    100% { opacity: 0; } /* Fades out completely */
  }

.img_carousel {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures the image covers the container */
  }

/******* BOY ******/
.boy {
    width: 100%;
    height: 100vh; 
    text-align: center;
    overflow-x: hidden;
    /* background-color: #d3c7b99c; */
}

/* .boy_img {
    width: 100%;
} */

.boy_img {
    display: block; /* Ensures no extra space around the image */
    width: 100%;
    height: auto; /* Maintain aspect ratio */
}

.boy_title {
    margin-top: 10%;
}

.boy_we {
    font-size: 2.5rem;
}

.boy_aboy {
    font-size: 5rem;
    transform: translate(-8%, -54%);
    color: #4a80948e;
}

.boy_details {
    margin: -10% 10% 10% 10%;
}

.boy_bcg_img {
    position: absolute;
    width: 78%;
    z-index: -1;
    opacity: 0.5;
    left: 0;
    /* transform: translate(10%, 36%); */
    rotate: -19deg;
}

/******* RSVP ******/
.rsvp {
    width: 100%;
    /* height: 100vh;  */
    position: relative;
    text-align: center;
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    flex-direction: column;
    overflow: hidden;
}

.rsvp_bcg_img {
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
    top: 51%;
    right: -19%;
    rotate: 81deg;
}

.rsvp_bottom_img {
    position: absolute;
    z-index: 0;
    overflow-x: hidden;
    width: 100%;
    transform: scaleY(-1);
    bottom: 0;
    opacity: 0.5;
    z-index: -1;
}
  
  .rsvp_title {
      font-size: 4rem; 
      color: black;
      opacity: 0.7;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.212);
      position: relative;
  }
  
  
  /***** RSVP FORM PORTRAIT ****/
  #RSVP_form {
      /* height: 130vh;  */
      width: 100%; 
      text-align: left;
      display: flex; 
      flex-direction: column; 
      align-items: left;
      padding-bottom: 20px; 
      box-sizing: border-box; 
      position: relative; 
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 2s ease-out, transform 2s ease-out; /* Ensures smooth fade */
  }
  
  .form {
    text-transform: uppercase;
      width: 75%;
      text-align: left;
      color: slategray;
      margin: 40px;
  }
  
  .button {
      background-color: slategray;
      color: white;
      border: none;
      margin-bottom: 20%;
  }
  
  .button:hover {
      background-color: rgb(4, 133, 4);
  }
  
  
  /****** SUCCESS SCREEN MODAL ON FORM SUBMIT *****/
  #modalTitle {
      font-size: 2rem; 
      text-transform: uppercase;
  }
  #modalMessage {
      text-align: center;
  }


  /****** REGISTRY *****/
.registry {
    width: 100%;
    /* height: 100vh;  */
    position: relative;
    overflow: hidden;
}

.registry_title {
    margin-top:10%;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 10%;
}

.thankyou {
    position: absolute;
    font-size: 3rem;
    transform: translate(156%, -126%);
    color: #4a80948e;
}

.registry_text {
    position: relative;
    text-align: center;
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    flex-direction: column;
}

.registry_description {
    margin: 10%;
}

.babylist_img {
    width: 70%;
    margin-bottom: 20%;
}

/******* COUNTDOWN ******/
#countdown {
    height: 100vh; 
    width: 100%; 
    text-align: center;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    padding-bottom: 20px; 
    box-sizing: border-box; 
    position: relative; 
    overflow: hidden;

    /* transform: translateY(20px); */
}

.countdown_bcg {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: -7%;
    opacity: 0.8;
}

.clock_all {
  position: relative;
  z-index: 10;
}

.countdown_cursive {
    font-size: 3rem;
    color: #4a80948e;
    position: absolute;
    font-weight: lighter;
    /* margin-top: -50px; */
    text-align: center;
    z-index: 10;
    transform: translate(32%, 605%);
}

.countdown_description {
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
  z-index: 10;
  font-family: "Quicksand", serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 10%;
}

#clockdiv>div {
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
    background-color: #3766776e;
}

#clockdiv div>span {
    font-size: 2.5rem;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:white;
    font-display: swap;
}

/* Style for visible text */
.smalltext {
    font-family: "Playfair Display SC", serif;
    font-weight: 300;
    font-style: normal;
    font-display: swap; 
    color: white;
}

.countdown_title {
    font-size: 3rem;
    align-self: center;
    position: relative;
    z-index: 10;
    margin-bottom: 10%;
}

.countdown_img {
  margin-top: 100px;
  width: 250px;
}

.bottom {
  position: absolute;
  bottom: 0;
}